*
{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

.header_container
{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header_top
{
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 24px; 
    margin-bottom: 100px;
}

.header_top h1
{
    margin-top: 10px;
    margin-right: 200px;
}

.header_links a
{
    margin-right: 25px;
    font-size: 18px;
    color: #F9FAF8;
    
}



.hero_img_container
{
    display: flex;
    justify-content: space-around;
    align-items: start;
   
    
}

.hero_text
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero_text h1
{
    
    font-size: 48px;
    font-weight: 900;
}

.hero_text p
{
    font-size: 18px;
    color: #E5E7EB;
    
}

.img_container 
{
    display: flex;
    background-color: grey;
    width: 500px;
    height: 200px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.hero_text button
{
    background-color: #3882f6;
    color: #E5E7EB;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.main_title
{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main_img
{
    display: flex;
    justify-content: space-evenly;
   
    width: 50%;
    margin: 0 auto;
   
}

.main_img div
{
    border: 5px solid #3882f6; 
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.main_img_text
{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.quote_container
{
   background-color: #E5E7EB; 
   height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main_quote
{
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: red;
}

.quote_author
{
    margin-left: 650px;
}

